body{
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: auto;
}
main{
  background-color: #F5F5F5;
  width: 1000px;
  height: 1000px;
  margin: auto;
}
head{
  background-color: #F5F5F5;
}

section{
  background-color: white;
  width: 320px;
  height: 550px;
  float: right;
  border-color: #808080;
  border-style: solid;
  border-width: 1px;
  margin-right: 224px;
  margin-top: 50px;
  text-align: center;
}

quadrant{
  background-color: white;
  width: 320px;
  height: 80px;
  float: right;
  border-color:	#808080;
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-top: 90px;
  margin-bottom: 20px;
  text-align: center;
}

div{
  height: 10px;
}
dive{
  height: 100px;
}

p{
  font-size: 16px;
  line-height: 18px;
  margin: 30px 20px;
  text-align: center;
  padding: 0;
  border: 0;
  font: Helvetica;
  vertical-align: baseline;
}
a{
  color: lightblue;
  font: Helvetica;
}
h2{
  color: #A9A9A9;
  font: Helvetica;
  font-weight: 600;
  line-height: 25px;
  font-size: 18px;
  margin: 0 40px 10px;
  display: inline-table;


}
g{
  color: lightgrey;
}
w{
  color: white;
  font: Lucida;
  font-weight: bold;
}
textBox{
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  vertical-align: baseline;
  float: bottom;
  margin-top: 90px;

}
block{
  float: left;
  margin-top: 50px;
  display: inline-block;
  width: 321px;
}
nav{
  height: 300px;
}
header{
  border-radius: 5px;
  background-color: #3b5998;
  height: 25px;
  text-align: center;
  margin: auto;
  width: 75%;
}
footer{
  border-radius: 5px;
  background-color: #F5F5F5;
  height: 25px;
  text-align: left;
  margin: auto;
  width: 75%;
  border-color: #808080;
  border-style: solid;
  border-width: 1px;
  color: #808080;
  text-indent: 10px
}
h3{
  vertical-align: text-bottom;
  padding-left: 16px;
  display: inline-table;
  font-size: 17px;
  margin-right: 0px;
  float: bottom;
}
h4{
  vertical-align: text-bottom;
  padding-left: 0px;
  display: inline-table;
  font-size: 17px;
  color: #808080
}
logo2{
  display: none;
}
@media screen and (max-width: 1000px){
  body{
    width: auto;
  }
  main{
    width: 100%;
    height: 100%;
    text-align: center;
    width: auto;
  }
  aside{
    display: none;
  }
  section{
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
  quadrant{
    float: right;
    margin-right: auto;
    margin-left: auto;

  }
  textBox{
    padding: auto;
    padding-top: 300px;
    line-height: 18px;
    margin: 10px 20px;
    text-align: center;
  }
}

@media screen and (max-width: 320px){
  section{
    background-color: #F5F5F5;
    width: 100%;
    height: 100%;
    border-width: 0px;
  }
  quadrant{
  background-color: #F5F5F5;
  width: 100%;
  height: 100%;
  border-width: 0px;
  }
  block{
    width: 100%;
    height: 100%;
  }
  logo{
    display: none;
  }
  logo2{
    display: block;
  }
